body,html {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: 'Montserrat', sans-serif;

}
:root {
  font-family: 'Montserrat', sans-serif !important;
}
